.video-app {
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.video-logo img {
  height: 45px;
}
.video-row {
  display: flex;
  margin: 20px auto;
}
.item {
  cursor: pointer;
}
.item.active {
  background-color: #f3f3f3;
  box-shadow: 0 0 2px 1px #777;
}
.active-group-row {
  background-color: #f7f7f7;
}
.active-row {
  display: flex;
  margin: 20px;
}
.active-row video {
  width: 50vw;
}
.active-row .info {
  margin-left: 20px;
  max-height: 360px;
  overflow-y: auto;
}
.dummy-player {
  pointer-events: none;
}
.preview-wrapper {
  position: relative;
  padding-top: 56.25%;
}

.preview-wrapper .dummy-player {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #ccc;
}
.group-videos-wrapper {
  max-height: 360px;
  overflow-y: auto;
  background-color: white;
}
