@import "../../values.scss";

.video-app {
  max-height: calc(100vh - #{$headerheight});
  overflow-x: hidden;
  overflow-y: auto;
  .nav-link.active {
    background-color: $lightgray;
    border-bottom: 0;
  }
  .video-header {
    top: -17px;
    position: sticky;
    z-index: 10;
    background: rgba(255,255,255,0.9);
  }
  .video-logo img {
    height: 45px;
  }
  .pp-menu {
    position: absolute;
    left: 0;
  }
  .download-selected {
    position: absolute;
    right: 0;
  }
  .video-wrapper {
    background-color: $lightgray;
  }
  .video-row {
    display: flex;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .item {
    cursor: pointer;
  }
  .item.active {
    background-color: $lightgray;
    box-shadow: 0 0 2px 1px #777;
  }
  .active-group-row {
    background-color: $lightgray;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
  }
  .active-row {
    display: flex;
    margin: 20px;
  }
  .player-row {
    #active-player {
      flex: 1;
    }
  }
  .active-row .info {
    margin-left: 20px;
    max-height: 360px;
    overflow-y: auto;
  }
  .dummy-player {
    pointer-events: none;
  }
  .preview-wrapper {
    position: relative;
    padding-top: 56.25%;
    background-color: $lightgray;
  }
  
  .preview-wrapper .dummy-player {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #ccc;
  }

  .video-uploader {
    position: relative;
    background-color: $lightgray;
    input {
      cursor: pointer;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
    }
  }

  .group-videos-wrapper {
    max-height: 360px;
    overflow-x: auto;
    background-color: white;
  }

  .person-card {
    .card-body {
      display: flex;
      .content {
        flex: 1;
      }
    }
    .small-avatar {
      width: 80px;
      height: 80px;
      object-fit: contain;
      border-radius: 10px;
      margin-left: 15px;
    }
  }
  
  .feedback-item {
    padding: 0 5px;
    border: 1px solid transparent;
    border-radius: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    span {
      margin-left: 5px;
    }
    &.active {
      border: 1px solid $danger;
    }
    &:hover {
      border: 1px solid $primary;
    }
  }
}
