.message-page {
  height: 100vh;
  text-align: center;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  .studio-logo {
    height: 60px;
  }
  p {
    font-size: 16px;
  }
  .sms-logo {
    height: 18px;
  }
  .meeting-frame {
    flex: 1;
    width: 100%;
    iframe {
      border: none;
      background-color: gray;
    }
  }
}