.message-page {
  height: 100vh;
  text-align: center;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  .studio-logo {
    height: 60px;
  }
  p {
    font-size: 16px;
  }
  .sms-logo {
    height: 18px;
  }
  #jitsi-frame {
    flex: 1;
    width: 100%;
    position: relative;
    iframe {
      border: none;
      background-color: gray;
    }
  }
  #reload-jitsi {
    position: absolute;
    z-index: 10;
    left: 10px;
    top: 10px;
    opacity: 0.2;
    transition: .2s;
  }
  #reload-jitsi:hover {
    opacity: 1;
  }
  #iframe-wrapper {
    height: 100%;
  }
  #iframe-wrapper #close {
    display: none;
  }
}