.profile-view {
  .label {
    font-size: 1.1rem;
    font-weight: 600;
  }
  span {
    font-size: 1rem;
  }
}

.profile-edit {
  .receive-email-wrapper {
    width: 20px;
    input {
      height: 20px;
    }
  }
}
