@import "../../values.scss";

.size-cards {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 20px;
  margin: auto;
  min-width: calc(100vw - 320px);
  height: calc(100vh - 260px);
  overflow-y: auto;
  .person-card {
    width: 300px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    .avatar {
      width: 300px;
      height: 150px;
      object-fit: contain;
    }
  }

  .feedback-item {
    padding: 0 5px;
    border: 1px solid transparent;
    border-radius: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    span {
      margin-left: 5px;
    }
    &.active {
      border: 1px solid $danger;
    }
    &:hover {
      border: 1px solid $primary;
    }
  }
}
