@import "../../values.scss";

.studios-list {
  overflow-y: auto;
  max-height: calc(100vh - #{$headerheight});
  .page-item {
    cursor: pointer;
  }
  .project-item {
    .action-wrap {
      opacity: 0;
    }
    &:hover .action-wrap {
      opacity: 1;
    }
  }
  .new-session-btn {
    cursor: pointer;
  }
}