@import "../values.scss";

.global-header {
  height: $headerheight;
}

.header-logo {
  height: 60px;
}

#header-title {
  color: white;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}

.fade-alert {
  animation: fade-alert 1s infinite;
}

@keyframes fade-alert {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.version-display {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
}
