@import "./values.scss";
@import "node_modules/bootstrap/scss/bootstrap";

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  pointer-events: none;
  opacity: 0;
  transition: .2s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 30;
  color: white;
}
.loading.show {
  opacity: 1;
  pointer-events: all;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.8rem;
}

.list-group {
  >div:nth-child(odd) {
    background-color: $lightgray;
  }
}
.action-wrap {
  > * {
    cursor: pointer;
  }
}
.pagination li {
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}

.heyjoe-logo {
  height: 40px;
  padding-right: 20px;
  margin-right: 20px;
  &.white {
    filter: brightness(1000);
  }
  &.br {
    border-right: 1px solid $primary;
  }
}

.page-content {
  overflow-y: auto;
  max-height: calc(100vh - #{$headerheight});
}

.small-avatar {
  width: 80px;
  height: 80px;
  object-fit: contain;
  border-radius: 10px;
  margin-left: 15px;
}

.myfeedback-icon {
  position: relative;
  svg {
    position: absolute;
    left: -42px;
    width: 42px;
    height: 42px;
  }
}
