@import "./values.scss";
@import "node_modules/bootstrap/scss/bootstrap";

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  opacity: 0;
  transition: .2s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1230;
  color: white;
}
.loading.show {
  opacity: 1;
}
.loading.show button {
  pointer-events: all;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.8rem;
}

.list-group {
  >div:nth-child(odd) {
    background-color: $lightgray;
  }
  &.hover-highlight >div:hover {
    background-color: $gray;
  }
}
.action-wrap {
  > * {
    cursor: pointer;
  }
}

.pagination li {
  cursor: pointer;
  select {
    min-width: 30px;
    outline: none!important;
    text-align: center;
  };
  .page-count {
    min-width: 30px;
    text-align: center;
    display: inline-block;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.heyjoe-logo {
  height: 38px;
  padding-right: 20px;
  margin-right: 20px;
  &.white {
    filter: brightness(1000);
  }
  &.br {
    border-right: 1px solid $primary;
  }
}

.page-content {
  overflow-y: auto;
  max-height: calc(100vh - #{$headerheight});
}

.small-avatar {
  width: 80px;
  height: 80px;
  object-fit: contain;
  border-radius: 10px;
  margin-left: 15px;
}

.myfeedback-icon {
  position: relative;
  svg {
    left: -42px;
    width: 42px;
    height: 42px;
  }
}

.feedback-item {
  padding: 0 5px;
  border: 1px solid transparent;
  border-radius: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  span {
    margin-left: 5px;
  }
  &.active {
    border: 1px solid $danger;
  }
  &:hover {
    border: 1px solid $primary;
  }
}

.feedback-modal {
  .feedback-item {
    font-size: 20px;
    svg {
      width: 20px;
      height: 20px;
    }
  }
}

.uploading {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgba(0,0,0,0.3);
  border-radius: 20px;
}


.dropdown-toggle::after {
  margin-left: 0.655em;
  vertical-align: 0.055em;
}

.print-only,
.print-flex {
  display: none;
}

.app-footer {
  border-top: 1px solid #ccc;
  padding-top: 20px;
  font-size: 0.7rem;
}

.spinning {
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

.notification-modal .modal-dialog {
  margin-left: auto;
  margin-right: 20px;
}
.notification-modal .notification-content {
  height: calc(100vh - 200px);
  overflow-y: auto;
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

@media print {
  body {
    overflow-y: auto;
    page-break-inside: avoid;
  }
  .no-print {
    display: none !important;
  };
  .print-only {
    display: block !important;
  }
  .size-cards {
    display: block;
  }
  .person-card {
    display: inline-block;
    margin-top: 30px !important;
    margin-bottom: 30px !important;
  }
  .avoid-break {
    position: relative;
    break-inside: avoid !important;
  }
}

.ws-indicator {
  position: fixed;
  top: 40px;
  right: 10px;
  color: white;
}

.fullscreen-modal {
  margin: 0;
  width: 100%;
  height: 100%;
  max-width: none;
  .modal-content {
    height: 100%;
  }
}

.react-datetime-picker {
  z-index: 2;
  .react-datetime-picker__wrapper {
    border: none;
    min-width: 250px;
  }
}

.page {
  height: calc(100vh - 60px);
  overflow: auto;
}

.send-email-container {
  overflow: hidden;
  .tox-tinymce{
    border: none;
    border-top: 1px solid #dee2e6 !important;
  }
}
.text-10{
  font-size: 1rem;
}
.top-0 {
  top: 0px;
}
.transparent{
  opacity: 0;
}
.break-word{
  word-break: break-word;
}

.send-talent-email-modal {
  .recipient-list {
    height: 150px;
  }
  .input-cursor{
    border: none!important;
    outline: none!important;
    &:-webkit-autofill,
    &:-webkit-autofill:hover, 
    &:-webkit-autofill:focus, 
    &:-webkit-autofill:active  {
      background-color: white!important;
      box-shadow: 0 0 0 30px white inset !important;
    }
  }
    
}

.admin-events-calendar-container {
  height: 70vh;
}

.invite-tab-content {
  min-height: calc(100vh - 200px);
}
  
.freelancer-request-respond-page {
  .resp-btn{
    width: 140px;
  }
  .info-table {
    tbody {
      tr {
        td {
          padding: 3px 8px;
          &:first-child{
            text-align: right;
          }
          &:nth-child(2) {
            max-width: 3px;
            text-align: center;
          }
        }
        
      }
    }
  }
}