$body-bg: #ffffff;
$body-color: #111;

$lightgray:  #efefef;
$primary: #25354d;
$danger: #ee514f;

$theme-colors: (
  "primary": $primary,
  "lightgray": $lightgray,
  "danger": $danger
);

$headerheight: 60px
